.map {
  margin: 70px 0;
  max-width: 1310px;
  width: 100%;
  height: 1000px;
  padding: 0 40px;
}

@media (max-width: 1000px) {
  .map {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .map {
    max-width: 728px;
    height: 700px;
  }
}
@media (max-width: 480px) {
  .map {
    max-width: 480px;
    height: 700px;
  }
}
@media (max-width: 360px) {
  .map {
    max-width: 360px;
    height: 551px;
  }
}